<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title>Status</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/app6.css' %}">
    </head>
        <body>
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <br>
        <div class = text-center>
            <p class="fonting1" > Halo, apa kabar? </p>
        </div>

        <!--FORM -->
        <form action ="{% url 'StatusPost' %}" style="margin-right: auto;margin-left: auto;" method ="post" class="form-horizontal " method="post">
            {% csrf_token %}
            <div style="margin:auto;"class="form-row justify-content-center text">
                <div style="color: #FEB304;" class="form-group form-horizontal justify-content-center col-sm-4">
                {{ form }}
                </div>
            </div>
            <div style="margin-right: auto;margin-left: auto;"class="form-row form-horizontal justify-content-center ">
                    <button  class="btn text justify-content-center" type="submit" style="background-color:#1A54DD ; color: black;">Add Status</button>
            </div>
            </form>
            <br>
            <br>
            <br>
            <br>
            <div class="text-center">
                <form style="margin-right: auto;margin-left: auto;" action="{% url 'StatusPost' %}" method="get"  class="col-md-4 text text-center" >
                    <div  class="row ">
                        <table class="table">
                            <thead >
                            <th class="text-center">
                                <h3 style="color:#FEB304;font-weight: 600;">My Status</h3>
                            </th>
                            </thead>
                            <tbody>
                            {% for post in AllJadwal %}
                            <tr>
                                <td>
                                <h2 style="color:white; font-weight: bolder; ">{{post.status}}</h2>
                                <h5 class=fontingisi>{{post.date}}</h5>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>   
                </form>
            </div>
        </body>
 </html>

