<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/story8style.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src= "{% static 'ajax/script.js' %}"></script>


    </head>
    <body>
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <br>
        <h1 class = text-center >Search your books here!</h1>
        <br>
        <div class="form-row justify-content-center my-2 my-lg-0">
            <input id ="search" class = "mr-sm-2" type ="text" placeholder="Search">
            <input id ="button" class= "btn btn-outline-light my-2 my-sm-0" type="submit" value="Search this book" >
        </div>
        <!-- <div class = col-6>
            <form class="form-row justify-content-center my-2 my-lg-0">
                <input id =search class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button id=button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search this book</button>
            </form>
        </div> -->
        <br>
        <div id = fontisi>
            <table class="table">  
            
                    <thead>
                        <tr>
                        <th style= "width:33%" scope="col">Title</th>
                        <th style= "width:33%"scope="col">Image</th>
                        <th style= "width:33%"scope="col">Author</th>
                        </tr>
                    </thead>
                        <tr class=" table text-center">
                        <!-- <th scope="row">1</th> -->
                        <td class = "fontisi col-md-4" ></td>
                        <td class= " fontisi col-md-4" ></td>
                        <td class= " fontisi col-md-4" ></td>
                        </tr>
                <tbody>
                </tbody>
            </table>
        </div>

  



<!------------------------------------------------------->
    </body>
</html>