body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color :#000000 !important;
}

.fonting1{

    text-align: center; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.15em;
    color: #F95519;
}

.fontingisi{
    text-align: center; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
 
    color: white;
    
}







 






