
/* TOGGLE HERE  */
.toggle{
    position: absolute;
    top: 40px;
    right: 50px;
    background: transparent;
    border: 2px solid #86949b;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.toggle.active
{
    background: #00151f;
    border: 2px solid #fff;
}
.toggle:before
{
    content: '';
    position: absolute;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}

/* LIGHT MODE  */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f7f7f7;
    text-align : center; 
    font-family: Muli !important; 
}

.content
{
    margin: 10%;
}

.content .card-header{
    background-color: #9bc6c9!important;
    font-weight: 700;
}

.content .card-body{
    background-color: white!important;
    font-weight: 700;
}

/* FONT DI LIGHT MODE  */
body.content h1{
    
    color : #010101!important; 
}

.font1{
    color : black !important;
}

.font2{
    color : black !important;
}

/* DARK MODE  */
body.night{
    background-color:#010101; 
}
.card-header.night {
    background-color: #acdbdf!important;
    border: none!important;
}

.card-body.night{  
    color: white!important;  
    background-color:#2A2A2A!important; 
}


/* FONT DI DARK MODE  */
body.night .content h1{
    color: white !important;
}








