.font{
    color : #f1bbd5 !important; 

}
body{
    font-family: Muli;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color :#000000 !important;
}

.fontputih{
    color : white !important; 
    /* font-size: 1.5vw; */

}

.fontpink{
    color: #8b4367;
    font-weight: bold;
}

.btn-default{
    color : #8b4367;
}